<br>
-----------------------------
<br>
<%= note.comment %>
<br>
<ul><li><%= note.user.email%> - Posted on: <%= note.created_at %>
<% if note.user == current_user %>
<form action="<%= note_url(note) %>" method="POST">
  <%= auth_token %>
  <input
    type="hidden"
    name="_method"
    value="DELETE">
  <input type="submit" value="DELETE">
</form>
<% end %>
</li></ul>
<br>