<h1><%= @album.band.name%> - <%= @album.name %></h1>

<%= render 'shared/track_list', album: @album %>
<br>
<a href="<%= new_album_track_url(@album) %>">Add a track to this album</a>
<a href="<%= band_url(@album.band) %>">
  Back to the page for <%= @album.band.name %>
</a>